* {
  box-sizing: border-box;
}

/* Rungon muotoilut  */
body, html, main {
  height: 100%;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.25vw;
  color: white;
  background: #191970;
  color: white;
  background: #191970;
}

header {
  background: #778899;
  color: #191970;
  font-size: 1.5vw;
  margin: 0.2%;
  border-radius: 1vw;
  display: flex;
  flex-wrap: nowrap;
}

nav {
  width: 33.33%;
  text-align: center;
  padding: 2% 0 0 0;
}

.navi, a:link {           /* a:hover MUST come after a:link and a:visited */
  color: black;              /* a:active MUST come after a:hover */
  text-decoration: none;
  }

 a:visited {
  color: white;
  }

 a:hover {
  color: #c2c2d2;
  }

 a.active {
    color: #DCDCDC;
  }

h1 {
  width: 33.33%;
}

#teOt {
  text-align: center;
}

#laOt {
  text-align: center;
}

#tervehdys_te {
  margin: 5% 20% 5% 20%;
}

#par1E, #par1L {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#par1E {
  background-image: url("pa1Ku.jpg");
  height: 45%;
  min-width: 100%;
}

#par1L {
  background-image: url("paLa.jpg");
  height: 45%;
  min-width: 100%;
}
#etu_tek1 {
  margin: 5% 20% 5% 10%;
  position: relative;
  display: flex;
}

#etuKu1 {
  float: right;
  display: flex;
  height: 15%;
  width: 15%;
  margin: 1% 5% 5% 5%;
}

#etuKu1 > img {
  border-radius: 1vw;
}

/* Footer */
footer {
   display: flex;
   flex-wrap: nowrap;
   background: #778899;
   color: #DCDCDC;
   min-width: 100%;
   bottom: 0;
 }

#ala_kuva {
  width: 33.33%;
  padding: 1% 0 1% 0;
}

#ala_kuva > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;
  border-radius: 1vw;
}

#tekija {
  width: 33.33%;
  text-align: center;
  padding: 2% 0 0 0;
}

#linkkeja {
  width: 33.33%;
  text-align: center;
  list-style-type: none;
}

table {
  display: flex;
  flex-wrap: nowrap;
}

#lasAl {
  margin: 1% 1% 1% 1%;
}

#laskuri {
  padding: 5% 25% 5% 25%;
}

.ri3Kpl {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1% 0 1% 0;
}

.ri1, .ri2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 16.66%;
  padding: 0 1% 0 1%;
}

.ri2Kpl {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 1% 0 1% 0;
}

.ri3, .ri4, .ri5 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 25%;
  padding: 0 1% 0 1%;
}

.nap {
  display: flex;
  padding: 1% 5% 1% 5%;
}

#laske, #tyLo {
  margin: auto;
}

#tulostus {
  display: flex;
  flex-wrap: nowrap;
}

#syotTied {
  width: 33.33%;
}

#haeTied {
  width: 33.33%;
}

#poistaTied {
  width: 33.33%;
  text-align: center;
}

#syotTied, #haeTied, #poistaTied > h3 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  body, html, main {
    font-size: 3.5vw;
  }

  #etuKu1 {
    height: 30%;
    width: 35%;
    margin: 5% 0 0 10%;
  }

  #par1E, #par1L {
    background-attachment: scroll;
  }

  #par1E {
  height: 20%;
  }

  #par1L {
  height: 20%;
  }

  .ri3Kpl, .ri2Kpl {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .ri1, .ri2, .ri3, .ri4, .ri5 {
    /*display: flex;
    flex-direction: row;
    flex-wrap: nowrap;*/
    align-items: center;
    width: 80%;
  }

  #tulostus {
    flex-direction: column;
    width: 100%;
  }

  #syotTied, #haeTied, #poistaTied {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  body, html, main {
    font-size: 1.35vw;
  }
}

@media only screen and (min-width: 768px) {
  body, html, main {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 992px) {
  body, html, main {
    font-size: 1.5vw;
  }
}

@media only screen and (min-width: 1200px) {
  body, html, main {
    font-size: 1vw;
  }
}
