* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, serif;
  font-size: 1vw;
  color: #bcc9f6;
  background: #4169e1;
}

nav {
  position: fixed;
  background: transparent;
  border-radius: 0.5vw;
}

nav a {
  float: left;
  display: block;
  color: #4169e1;
  text-align: center;
  padding: 1vw 1.5vw;
  text-decoration: none;
}

nav a:hover {
  color: #c2c2d2;
}

nav a:active {
  color: #7987b1;
}

nav a:visited {
  color: #4169e1;
}



header {
  background: #191970;
  color: #4169e1;
  font-family: Copperplate, fantasy;
  font-size: 2vw;
  padding: 0.5vw;
  text-align: center;
  border-radius: 0.5vw;
}

article {
  float: left;
  width: 60%;
  background: #191970;
  color: #bcc9f6;
  padding: 1vw 1vw 1vw 1vw;
  margin: 1vw 0vw;
  border-radius: 1vw;
}

aside {
  float: right;
  width: 30%;
  background: #191970;
  color: #bcc9f6;
  padding: 1vw;
  margin-top: 1vw;
  border-radius: 1vw;
}

#la {
  text-align: center;
}

.sisältö {
  background: #4169e1;
  width: 100%;
}

.esivu{
  display: flex;
  flex-wrap: nowrap;
}

.esivu .kuval{
  width: 33.33%;
  margin: 2vw 0.1vw;
}

.minusta1 {
  margin-top: 10vw;
  padding: 0.1vw;
}
:after{
  content: "";
  display: table;
  clear: both;
}

a:link {
  color:  #4169e1;
  text-decoration: none;
}

a:visited {
  color: #bcc9f6;
  text-decoration: none;
}

footer {
  background-color: black;
  color: #bcc9f6;
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  border-radius: 0.5vw;
}

.si {
  width: 33.33%;
  margin: 2vw 0.1vw;
  list-style-type: none;
}


@media only screen and (max-width: 1050px) {
  article, aside {
    width: 100%;
    float: none;
  }
}

@media only screen and (max-width: 930px) {
  nav a {
    float: none;
    width: 100%;
