* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, serif;
  font-size: 1vw;
  color: #bcc9f6;
  background: #4169e1;
}

header {
  background: #191970;
  color: #4169e1;
  font-family: Copperplate, fantasy;
  font-size: 2vw;
  padding: 1vw;
  text-align: center;
}

nav {
  overflow: hidden;
  background-color: black;
}

nav a {
  float: left;
  display: block;
  color: #4169e1;
  text-aling; center;
  padding: 1vw 1.5vw;
  text-decoration: none;
}

nav a:hover:not(active) {
  background-color: #c2c2d2;
}

.active {
  background-color: #451971;
}

article {
  float: left;
  width: 60%;
  padding-right: 2vw;
  background: #191970;
  color: #bcc9f6;
  padding: 1vw;
  margin-top: 1vw;
}

.sisältö {
  background: #4169e1;
  width: 100%;
}
aside {
  float: right;
  width: 30%;
  background: #191970;
  color: #bcc9f6;
  padding: 1vw;
  margin-top: 1vw;
}

row:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  background-color: black;
  color: #bcc9f6;
  text-align: center;
  font-size: 1vw;
  padding: 1vw;
}

@media only screen and (max-width: 1050px) {
  article, aside {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 930px) {
  nav a {
    float: none;
    width: 100%;
