* {
  box-sizing: border-box;
}

body, html, main {
  font-family: 'Quicksand', sans-serif;
  size: 1.5vw;
  color: #505F90;
  background: #172556;
}

h1 {
  text-align: center;
}

input {
  background: #07123A;
  border-color: transparent;
  color: #505F90;
}

button {
  background: #07123A;
  border-color: #303F74;
  color: #505F90;
}

#lo1 {
  margin: 5% 0 0 40%;
}

#lo1 label {
  margin: 2% 0% 0% 0%;
  padding: 0% 0% 0% 0%;
}

#lo1 input {
  margin: 2% 0 0 2%;
}

#lo1 button {
  margin: 2% 0 0 10%;
  padding: 1%;
}

#al1 {
  margin: 15% 0 0 40%;
}

#al2 {
  margin: 15% 0 0 40%;
}
